.container {
  width: $main-coantainer-width;
  margin: 0 auto;
}

.row {
  margin-top: $size-2x;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: calc((100% / 12) * #{$i});
  }
}
